.xpool-user-register {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 5rem;
}
.xpool-user-register .xpool-user-register-form {
  min-height: 500px;
}
.xpool-user-register .login-form-button {
  width: 100%;
}